%p
  %strong Gutes Passwort:
  %code.has_tooltip{title: 'Die vier Begriffe zusammen ergeben das gute Passwort!'}
    %span.password_component kneipe
    %span.password_component lustig
    %span.password_component knödel
    %span.password_component gelungen
  (Man braucht mehrere Jahre zum Knacken. Die Leerzeichen kannst du weglassen.)
%p
  %strong Schlechtes Passwort:
  %code
    %strike.has_tooltip{title: 'Für diejenigen, die diese Seite nur überfliegen, haben wir das schlechte Passwort vorsorglich durchgestrichen.', data: {placement: 'bottom'}} k4nn3!
  (Man braucht 27 Sekunden zum Knacken.)