.flex-fill.d-flex.flex-column.justify-content-center.py-4
  .container-tight.py-6
    .text-center.mb-4
      %img{src: logo_url, height: 48}
    .card.card-md
      .card-body.text-center.py-4.p-sm-5
        %img.mb-5{src: "https://raw.githubusercontent.com/tabler/tabler/dev/src/static/illustrations/undraw_sign_in_e6hj.svg", height: 128}
        %h1 Prima!
        %p.text-muted
          Wir melden uns in Kürze bei Dir, sobald die Daten importiert sind. Bei Fragen einfach fragen:
          = mail_to "mitmachen@wingolf.io"
