<div class="chart-title"><%= corporation.title %></div>
<%= area_chart(charts_term_reports_aktive_und_philister_anzahl_per_jahr_path(corporation_id: corporation.id), discrete: true, stacked: true, height: "200px") %>
