@import "_colors"

body.wingolf_layout.public-website, body.greifenstein_layout.public-website

  // // Sticky header bar when screen is large enough.
  // @media (min-height: 800px) and (min-width: 800px)
  //   #header-bar-wrapper
  //     position: -webkit-sticky
  //     position: sticky
  //     top: 0px
  //     z-index: 100
  //   #logged-in-bar
  //     z-index: 200

  // No picture info for regular pages.
  .box.page:not(.blog_post):not(.pages-wohnen_im_wingolf)
    .box_meta, .picture-info
      display: none

  // On the public website, we want only blog posts,
  // which have a meta section in the box, to have a
  // white box header. The other boxes should have no
  // white box header but big centered headings.
  //
  #content .box:not(.blog_post)
    .box_header
      background: transparent
      border: none
      > .box_title
        flex-basis: 100%
      > .box_tools
        flex-basis: 100%
    .box_header > .box_title > h1, h1
      text-align: center
      margin-top: 3em
      margin-bottom: 1em

  // Better events arrangement.
  ul.website-events
    width: 100%
    display: flex
    flex-wrap: wrap
    justify-content: center
    padding: 0px
    li
      flex-grow: 1
      max-width: 230px
      padding: 10px
      text-align: center
      .event.name
        font-size: 13pt
      .event-icon
        font-size: 16pt

  #horizontal-nav-bar ul.nav li.horizontal-nav-link > a.mitgliederbereich
    color: $brand-primary


body.wingolf_layout.public-website

  .box.page:not(.blog_post).first
    .galleria:before
      position: absolute
      top: -2px
      left: -2px
      z-index: 50
      content: ''
      background: image-url("schwarz-weiss-gold.png")
      width: 95px
      height: 93px
      pointer-events: none
