- # Communication Box
- #
- if can? :update, @user
  .card
    .card-body
      %h2= t :communication
      = ajax_toggle user, :wingolfsblaetter_abo, "Wingolfsblätter per Post erhalten"
      = ajax_toggle user, :local_postal_mail_subscription, "Verbindungspost per Post erhalten"
