.card
  .card-body
    #leibfamilie
      %h2 Leibfamilie
      .row
        - for entry in @user.leibfamilie
          .col-sm-6.col-md-4.row.row-sm.align-items-center.mb-2
            %span.avatar.col-auto{style: "background-image: url('#{entry[:user].avatar_url}')"}
            .col.text-truncate
              = link_to entry[:user].title, entry[:user], class: "text-body d-block text-truncate"
              %small.d-block.text-muted.text-truncate.mt-n1= entry[:description]
