#feature_spotlight
  %a.btn.btn-default.discourse.has_tooltip{data: {href: "https://discourse.wingolfsplattform.org", toggle: 'tooltip', placement: 'bottom'}, title: "Der Wingolf hat ein neues Forum: Schau doch mal rein! Du findest es in der roten Leiste unter 'Discourse-Forum'."}
    .new Neu!
    Discourse-Forum