%ul.section_container
  - profileable.profile_fields_by_section(section).each do | profile_field |
    = render partial: profile_field, layout: 'shared/profile_field_layout', locals: {profile_field: profile_field}
