%h1 Anzahl aller Wingolfiten
%div
  = line_chart charts_term_infos_alle_wingolfiten_anzahl_per_semester_path(params), discrete: true, height: "400px"

%h1 Mitgliederentwicklung aller Wingolfiten
%div
  = line_chart charts_term_infos_alle_wingolfiten_zuwaechse_und_abgaenge_per_semester_path(params), discrete: true, height: "400px", colors: ['green', 'grey', 'black', 'red', 'orange']

%h1 Studie Weibezahn
%div
  = image_tag 'studie-weibezahn-2010.png'