development:
  adapter: postgresql
  encoding: unicode
  reconnect: false
  database: wingolfsplattform_development
  pool: 5
  username: YOUR SYSTEM USER
  password: 
  host: localhost

test:
  adapter: postgresql
  encoding: unicode
  reconnect: false
  database: wingolfsplattform_test
  pool: 5
  username: YOUR SYSTEM USER
  password: 
  host: localhost

