%h2 17. November 2015

%h3 E-Mail-Verteiler:
%p Die Plattform stellt automatisierte E-Mail-Verteiler zur Verfügung. Ich missbrauche die Verteiler nicht. Insbesondere wähle ich die Zielgruppe der enthaltenen Information bzw. Aufgabe angemessen, sodass Unmut durch Spam oder unnötige E-Mail-Flut vermieden wird.

%h3 Passwörter: 
%p Ich halte mein Passwort geheim und gebe es an niemanden weiter, auch nicht an Administratoren, Amtsträger oder zu Zwecken der Hilfestellung über support@wingolf.org. Das gleiche Passwort verwende ich für keinen anderen Dienst als die Wingolfsplattform.


%h2 18. Oktober 2014

%h3 Export und Verwendung von Daten:
%p Die Plattform ermöglicht es, bestimmte Daten der Bundesbrüder meiner Verbindungen sowie meines Bezirksverbandes zu exportieren. Ich werde die Daten der Plattform nicht missbrauchen (etwa verkaufen oder für unerwünschte Werbezwecke einsetzen), sondern nur im Rahmen meiner Amtsausführung bzw. zum Wingolfswohle einsetzen.

%h2 1. August 2009

%h3 Datenverantwortlichkeiten:
%p Jeder Nutzer ist verantwortlich für seine in der Zentraldatei gespeicherten Daten. Er ist verpflichtet, die Richtigkeit und Relevanz der von ihm oder der von einem Administrator für ihn eingegebenen Daten regelmäßig zu überprüfen und Sorge dafür zu tragen, dass sie stets auf dem neuesten Stand sind.

%p Jeder Administrator ist verantwortlich für die Mitgliederliste seiner Gruppe. Er ist verpflichtet, die Vollständigkeit seiner Mitgliederliste regelmäßig zu überprüfen und Sorge dafür zu tragen, dass sie stets auf dem neuesten Stand ist.

%p Jeder Administrator ist verantwortlich für die Betreuung der Daten seiner Mitglieder. Er ist verpflichtet, die wingolfsspezifischen Daten seiner Mitglieder und die personenbezogenen Daten derjenigen seiner Mitglieder, die keinen Zugang zur Zentraldatei haben, einzugeben.