%vue_aktivmeldung_page{':corporations': corporations.to_json, ':initial_new_member_type': params[:new_member_type].to_json, ':initial_existing_user': (User.find params[:new_member_id] if params[:new_member_id].present?).to_json}
