%h1 Amtsträger
%div
  %table.officers
    %tr
      %th Senior:
      %td= link_to_user_with_phone_number(term_info.senior) if term_info.senior
    %tr
      %th Fuxmajor:
      %td= link_to_user_with_phone_number(term_info.fuxmajor) if term_info.fuxmajor
    %tr
      %th Kneipwart:
      %td= link_to_user_with_phone_number(term_info.kneipwart) if term_info.kneipwart
    %tr
      %th Philister-x:
      %td= link_to_user_with_phone_number(term_info.philister_x) if term_info.philister_x
