body.greifenstein_layout

  #header-bar-wrapper
    border-bottom: 1px solid #aaa

  #footer
    border-top: 1px solid #aaa

    #footer_line
      display: none

  .box
    border: none
    box-shadow: none
    margin-bottom: 60px

    .box_header
      background: none
      border: none

    .box_footer
      background: none
      border: none

  .box.blog_post
    border-bottom: 1px solid #ddd

  .galleria
    background: white

  p
    margin: 0 0 1.5em

  h1, h2, h3, h4, h5
    margin-top: 3em
    margin-bottom: 1em

  blockquote
    margin: 2em 0em
    font-size: 120%
    p
      margin: 0

  .group_map
    width: 400px
    font-size: 11pt
    margin: auto
    position: relative
    .info_area
      height: auto
      min-height: 350px
    .group_map_background
      position: absolute
      top: -20px
      left: 35%
