name: tests
on: [push]
jobs:
  model-specs:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository code
        uses: actions/checkout@v2
      - name: Build docker images
        run: docker-compose build
      - name: Start docker containers
        run: docker-compose up -d mysql_test redis neo4j
      - name: Prepare database
        run: docker-compose run tests /bin/bash -c "bundle exec rake db:create db:migrate"
      - name: Run tests
        run: docker-compose run tests
