#footer
  #footer_bg
  #footer_navi
    %ul
      %li
        %a(href="https://github.com/fiedl/wingolfsplattform") Github
      - if current_user
        %li
          %a.has_popover{href: 'irc://kornbluth.freenode.net/wingolfsplattform', data: {placement: 'top', title: 'IRC-Chat'}} IRC
          -# kornbluth.freenode.net, Frankfurt
          .popover_content
            %ul
              %li Server: kornbluth.freenode.net, Frankfurt, DE
              %li Kanal: wingolfsplattform
              %li
                %a(href="http://de.wikipedia.org/wiki/IRC-Client#G.C3.A4ngige_IRC-Clients") Client herunterladen
              %li
                %a.btn(href="irc://kornbluth.freenode.net/wingolfsplattform") Mit Chat verbinden
        %li
          %a.has_popover{href: 'mumble://wingolfsplattform.org', data: {placement: 'top', title: 'Mumble-Konferenz'}} Mumble
          -# kornbluth.freenode.net, Frankfurt
          .popover_content
            %ul
              %li Server: wingolfsplattform.org
              %li
                %a(href="http://www.mumble.com/mumble-download.php") Client herunterladen
              %li
                %a.btn(href="mumble://wingolfsplattform.org") Mit Konferenz verbinden
      %li
        = link_to t(:imprint), Page.find_by_flag(:imprint)
      - if current_user
        %li
          = link_to t(:terms_of_use), terms_path
      %li
        = language_switcher_html
    .clear
  #footer_line
  .clear
  #version_footer= app_version_footer
