- content_for :head do
  = stylesheet_link_tag 'greifenstein_layout', :media => 'all', data: {turbolinks_track: 'reload'}
  = javascript_include_tag 'greifenstein', data: {turbolinks_track: 'reload'}

-# render template, not file: rails 6.1 renders `file:` raw, without haml or layout semantics.
= render template: 'layouts/wingolf'
